a.btn.btn-large.btn-primary {
    color: white;
}

a.btn.btn-large.btn-primary:hover{
	background-color:#286090;
	color:white;
}
}

h1 {
	background-color:#bada55;
	text-align:center;
}

.snapgrid {
    margin-top: -6px;
}

.grid {
	color:#555a70;
	
}

.snap {
	color:#408ac9;
}



.img-jumbotron {
	height:80%;
 	width: 100%;
  margin-top: -21px;
  }

  .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
 
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

h2.snapgrid-h2 {
    margin-top: -31px;
     
}
 



.color-h1, h3,p, h2.snapgrid-h2 {
	color:#95949c;
}

img.img-adjustment {
    height: 200px;
    width: 43%;
    float: left;
    margin: 3%;
}

.img-fix {
    width: 100%;
    margin-top: 17px;
}

footer {
    background: #3a414b;
    height: 400px;
}

ul {
    text-decoration: underline;
    list-style: none;
    margin-left: -36px;
}

a.link {
    color: #9198a2;
}